.filter-panel {
  display: flex;
  padding: 20px 0;
  justify-content: flex-end;

  .btn{
    padding: 10px 30px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 20px;
    background: #211F25;
    color: white;
    border: 1px solid black;

    &:last-child{
      margin-left: 20px;
    }

    &.active{
      background: #F9B508;
    }

    &:hover {
      background: #F9B508;
    }
  }
}

@media screen and (max-width: 388px){
  .filter-panel{
    justify-content: space-between;
  }
}